.hoverable {
	transition: background-color 0.5s;
	cursor: pointer;
}

.hoverable:hover {
	background-color: #62a6ea;
	transition: background-color 0.2s;
}

.embedded_command_format, .command_format, .shortcut {
	font-family: 'Inconsolata';
}

.embedded_command_format {
	background-color: rgba(0,0,0,0.1);
	padding: 1px;
}

input:focus {
    outline: 0;
}

/* whole page things */

a {
	text-decoration: none;
}

body {
	margin: 0;
}

input {
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

.sidebar {
	width:200px;

	position: fixed;
	float:left;
	top:0;
	bottom:0;

	text-align:center;
	padding-top:250px;
	background-color: #dfdfdf;


	box-shadow: inset 0px -20px 20px rgba(0,0,0,0.2);

}

.sidebar .logo {
	position: fixed;
	top: 35px;
	left: 35px;
	background-color: white;
	border-radius: 50%;
	height: 130px;
	width:130px;

	background-image: url("../img/48icon.png");
	background-repeat: no-repeat;
	background-position: 41px 31px;

	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.sidebar .title {
	position: fixed;
	top:110px;
	font-size: 20px;
	width:130px;
	text-align:center;
}

.category {
	background-color: #f4f4f4;
	padding: 10px;
	margin-top:1px;
	margin-left:10px;
	font-size:16px;

	border-left: 5px solid #6ca6ea;
	transition: border-width 0.5s;
}

.category.generic {
	border-left: 5px solid #6ca6ea;
}
.category.help {
	border-left: 5px solid #98B209;
}
.category.option {
	border-left: 5px solid #FF2D19;
}

.category:hover {
	border-width: 20px;
}

.main_content {
	transition: opacity 0.25s;
	position: absolute;
	left:200px;
	max-width:1000px;
	text-align:center;
}

.fading {
	opacity:0;
}

.hidden {
	display: none;
}

.banner {
	font-size: 24px;
	text-align: left;

	min-height:50px;
	/*background-color: #f4f4f4;*/

	border-color: gray;
	border-width: 1px;
}

.top {
	position: relative;
	/*border-bottom-style: solid;*/
}

.top .title {
	display:block;
	margin-left:46px;
	margin-top:46px;
	margin-bottom:10px;
}

.top .sectiontitle {
	display:block;
	width: 600px;
	text-align: center;
	margin-top:46px;
	margin-bottom:10px;
}

.top .subtitle {
	display:block;
	font-size:smaller;
	margin-left:46px;
	margin-bottom:10px;
}

.top .subsubtitle {
	display:block;
	font-size:18px;
	margin-left:46px;
	margin-bottom:10px;
}

.top .content {
	display:block;
	font-size: 16px;
	padding-left:56px;
	padding-right:40px;
}

.bottom {
	padding-top:20px;
	vertical-align: top;
}
